.principal{
    padding: 1em;
}

.imagem_principal{
    width: 100%;
}

.titulo_um{
    font-size: 50px;
    color: var(--cor-principal);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.paragrafo_um{
    color:var(--cor-texto);
    line-height:1.8em;
    margin-top: 0em;
}

.botao{
    background-color: var(--cor-botao);
    color: var(--cor-de-fundo);
    padding: 1em;
    margin: 0em;
    margin-bottom: 3em;
    width: 40%;
    text-decoration: none;
    display: block;
    letter-spacing: 4px;
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (min-width: 1440px){
    .imagem_principal-desktop {
        display: flex;
        justify-content: flex-start;
        width: 55%;
        margin-left: 10em;
        margin-top: 2em;
    }
    .imagem_principal{
        display: none;
    }
    
    .container_principal{
       display: flex;
       justify-content: space-around ;
       column-gap: 20px;
    }

    .botao{
        display: flex;
        justify-content: center;
        padding: 1.2em;
        width: 110%;
        margin-top: 1em;

    }

    .paragrafo_um{
        display: flex;
        font-size: 15px;
        margin-top: 2em;
        width: 255%;
    }

    .titulo_um{
        display: flex;
        justify-content: flex-start;
        margin-left: 2.5em;
        font-size: 60px;
        width: 30%;
    }

    .texto-botao{
        display: flex;
        width: 10%;
        flex-direction: column;
    }

    .titulo-texto-botao{
        display: flex;
        flex-direction: row;
    }

    .caixa{
        display: flex;
        flex-direction: row;
    }

    .end{
        display: flex;
        width: 50%;
    }

    .img-titulo-botao{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 1440px){
    .imagem_principal-desktop{
        display: none;
    }
}