.imagem_principal{
    width: 100%;
}

.titulo_um{
    font-size: 50px;
    color: var(--cor-principal);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.paragrafo_um{
    color:var(--cor-texto);
    line-height:1.8em;
    margin-top: 0em;
}

.botao{
    background-color: var(--cor-botao);
    color: var(--cor-de-fundo);
    padding: 1em;
    margin: 0em;
    margin-bottom: 3em;
    width: 40%;
    text-decoration: none;
    display: block;
    letter-spacing: 3px;
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
}