.container_secundario {
    background-color: var(--cor-principal);
    color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
}

.titulo_dois{
    color: var(--cor-laranja);
    display: flex;
    padding: 15px;
}

.paragrafo_dois{
    padding: 1em;
    line-height:1.8em;
    color: var(--cor-texto);
}

hr {
    width:90%;
    margin:1px auto;
}

.subtitulo {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-de-fundo)
}

.subtitulo :hover {
    color: var(--cor-botao)
}

.textinho {
    color: var(--cor-de-fundo);
    font-size: 16px;
}

@media screen and (min-width: 1440px){
    .container_secundario {
        width: 25%;
        margin: 2em 10em 0em 8em;
    
    }
    
    .titulo_dois {
        font-size: 40px ;
        margin: 0.5em 0em 0.2em 0em;
    }

    .paragrafo_dois {
        margin-top: 0.5em;
        text-decoration: none;
    }

}

@media screen and (max-width: 1440px){
    
}