.container_terciario{
    margin-top: 6em;
    margin-bottom: 6em;
    
}
.box{
    display:flex;
    justify-content: space-around;
    margin-bottom: 3em;
}

.foto{
    width: 100px;
    height: 40%;
}


.destaques{
    margin-left: 1.5em;
    
}

.numero {
    color: var(--cor-numero);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

@media screen and (min-width: 1440px){
    
    
}